*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/*color gris: #5c707e */
/*color rosado: #6f7980*/
.inicio{
  align-items: center;
  background-image: url(../img/laptop.jpg);
  background-position: 52% 50%;
  background-size: 600%;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
}

.foto{
  border: 5px solid #525251;
  height: 200px;
  margin-top: 70px;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.foto img{
  position: absolute;
  width: 100%;
}
.navbar-default{
  background-color: #484847;
  border-color: transparent;
  border-radius: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.navbar-default .navbar-toggle{
  border: 0;
}

.navbar-default .navbar-brand{
  color: white;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #f8edd1;
}
.navbar-default .navbar-nav > li > a{
 color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
 background-color: transparent;
}

.iconos{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 80px;
}
.tamano-icon{
  font-size: 30px;
}

@media (min-width:789px ) {

}
