*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/*color gris: #5c707e */
/*color rosado: #6f7980*/

header nav {
  width:80%;
  height:100%;
  left:-100%;
  margin:0;
  position: fixed;
}

header nav ul li {
  display:block;
  float:none;
  border-bottom:1px solid rgba(255,255,255, .3);
}

.barra-menu {
  display:block;
  width:100%;
  background:#5c707e;
}

.barra-menu .boton-menu {
  display:block;
  padding:20px;
  text-decoration:none;
}

.barra-menu span {
  float:right;
  font-size:40px;
}

header {
  width:100%;
}
header nav {
  background:#5c707e;
}

header nav ul li a {
  color:#fff;
  padding:20px;
  display:block;
  text-decoration:none;
}

header nav ul li span {
  margin-right:10px;
}

header nav ul li a:hover {
  background:#037E8C;
}

section {
  padding:20px;
}

@media (min-width:789px ) {

  header {
    width:100%;
  }
  header nav {
    height: 70px;
    width:100%;
    left: 0 !important;
    background:#5c707e;
    position: absolute;
  }
  .barra-menu {
    display:none;
  }

  header nav ul {
    overflow:hidden;
    list-style:none;
  }

  header nav ul li {
    float:left;
  }

  header nav ul li a {
    color:#fff;
    padding:20px;
    display:block;
    text-decoration:none;
  }

  header nav ul li span {
    margin-right:10px;
  }

  header nav ul li a:hover {
    background:#037E8C;
  }

  section {
    padding:20px;
  }
}
