$gris-opaco: #484847;
$gris-claro: #8a8384;
$blanco: #fcfcfc;
$morado-oscuro: #87569c;
$morado-suave: #bc93c9;
$morado-ligth: #d9d0cd;
$verde-oscuro: #0A664A;
$verde-claro: #8abd93;
$large: 789px;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.inicio{
  align-items: center;
  background-image: url(../img/laptop.jpg);
  background-position: 52% 50%;
  background-size: 120%;
  color: $blanco;
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  margin-top: 50px;
  position: relative;
  hr{
    border: 2px solid white;
    margin: 0px 0px 8px 0px;
    width: 200px;
  }
}
.foto{
  border: 5px solid $morado-oscuro;
  height: 200px;
  margin-top: 70px;
  overflow: hidden;
  position: relative;
  width: 200px;
  img{
    position: absolute;
    width: 100%;
  }
}
.navbar-default{
  background-color: $gris-opaco;
  border-color: transparent;
  border-radius: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  .navbar-toggle{
    border: 0;
    .icon-bar{
      background-color: $morado-ligth;
    }
  }

  .navbar-brand{
    color: white;
  }
  .navbar-nav > li > a{
   color: white;
  }
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
 background-color: transparent;
}
.iconos{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 80px;
}
.tamano-icon{
  font-size: 30px;
}
.informacion{
  padding: 20px;
  background-color: $morado-ligth;
  color:$gris-opaco;
  hr{
    border: 2px solid $morado-oscuro;
    margin: 0px 0px 8px 0px;
    width: 200px;
  }
  h4{
    text-align: center;
  }
  @media(min-width: $large){
    display: flex;
    justify-content: center;
  }
}
.centrar-texto{
  text-align: center;
}
.flex-contenido{
  display: flex;
  flex-direction: column;
  align-items: center;
  h4{
    font-weight: 700;
    letter-spacing: 2px;
  }
  p{
    text-align: center;
  }
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media-col{
  width: 50%;
  float: left;
  display: inline-block;
}
.column-media{
  width: 100%;

}
.trabajos{
  @media (min-width:$large ) {
    width: 50%;
    float: left;
    padding: 20px;
  }
}
.titulo{
  padding: 0px 0px 0px 20px;
  @media (min-width: $large){
    padding: 0;
  }
  hr{
    border: 2px solid $morado-oscuro;
    margin: 0px 0px 8px 0px;
    width: 30px;
  }
}
.contactame{
  clear:both;
  padding: 20px;
  background-color: $morado-ligth;
  h4{
    font-weight: 700;
    letter-spacing: 2px;
  }
}
.descripcion{
  background-color: $gris-opaco;
  color:$morado-ligth;
  padding: 20px;

}
.imagen{

  img{
    width: 100%;
  }
}
.color-plomo{
  background-color: $gris-opaco;
  color: $blanco;
}
.padding{
  padding: 30px;
}
.flex-horizontal{
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.iconos-contactame{
  span{
    color: $gris-opaco;
    font-size: 40px;
  }
}
.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .icon-skill{
    height: 60px;
    width: 60px;
    margin: 10px 20px 30px 10px;
    img{
      width: 100%;
    }
    h4{
      letter-spacing: 0px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      font-size: 15px;
      @media(min-width: $large){
        letter-spacing: 2px;
        font-size: 20px;
      }
    }
    @media(min-width: $large){
      height: 100px;
      width: 100px;
      margin: 20px 20px 60px 20px;

    }
  }
}
@media (min-width:789px ) {

}
